Android_SDK
AVR_PROJECT/avrdudeprog33
AVR_PROJECT/MyFirstApp
html/*.zip
my_prog
php
React
STM32
web_lesson
Python/video2midi-master
Python/tg - Copy.py
Python/tg.py
Python/tg_test.py
Python/vk.py
Python/vk_kodi.py
Python/vk_money.py
Python/kveli/token.txt
Python/parser_txt2csv/*.csv
Python/parser_txt2csv/*.txt
Python/parser_txt2txt/*.txt
Python/parser_txt2txt_one_document/*.txt
Python/parser_txt2txt_one_document/*.csv
Arduino/PCdisplay_v1.6.ino
Arduino/ESP8266-RGB/
Arduino/max72_digyspark/
Arduino/monopoly_backup/
Arduino/Monopoly_RFID/
Arduino/progromator/
Arduino/PCdisplay_v1.6
Arduino/MY_arduino
Arduino/midi
Arduino/gyverLight_v1.4
Arduino/digylamp
Arduino/colorMusic_v2.8